.carousel {
  height: 100%;
  width: 100%;
  container-type: inline-size;

  .controls-container {
    position: absolute;
    z-index: 2;
    color: black;
    height: 100%;
    width: 100%;

    > * {
      position: absolute;
    }
    .position-indicator {
      bottom: 1rem;
      right: 1rem;
    }
    .control-buttons {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      z-index: 2;

      .prev-button {
        right: 5rem;
      }

      .next-button {
        left: 4.75rem;
      }

      @media (max-width: 800px) {
        .prev-button {
          right: 4.15rem;
        }

        .next-button {
          left: 3.75rem;
        }
      }

      @media (max-width: 450px) {
        .prev-button {
          right: 2.35rem;
        }

        .next-button {
          left: 1.85rem;
        }
      }
    }

    .play-button {
      padding: 2rem 1.2rem;
      z-index: 3;
    }

    h3 {
      font-style: 2rem;
      color: var(--ui-primary-accent-color-1-transparent);
    }
  }

  ol li {
    list-style-type: none;
  }
  .cards-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(
      (100% / 3) - (var(--grid-gap) - 6px)
    ); // 3 columns by default
    grid-gap: var(--grid-gap);
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (max-width: 1024px) {
      grid-auto-columns: calc((100% / 2) - (var(--grid-gap) - 8px));
    }

    @media (max-width: 640px) {
      grid-auto-columns: 100%;
    }
    .card-container {
      scroll-snap-align: start;
    }
  }
}

.article-carousel-card {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(
    135deg,
    var(--ui-background-color-1),
    var(--ui-background-color-2)
  );
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px var(--ui-static-shadow-color-dim);

  * {
    font-size: 1rem;
  }
}
