.carousel {
  height: 100%;
  width: 100%;
  container-type: inline-size;

  .position-indicator {
    bottom: 1rem;
    right: 1rem;
    position: absolute;
  }

  .button-container {
    height: 100%;
  }

  .prev-button {
    right: -5rem;
    position: absolute;
  }

  .next-button {
    left: -4.75rem;
    position: absolute;
  }

  .prev-button,
  .next-button {
    top: calc(50% - 3rem);
  }

  @media (max-width: 800px) {
    .prev-button {
      right: -1.5rem;
      z-index: 4;
    }

    .next-button {
      left: -1.75rem;
      z-index: 4;
    }
  }

  @media (max-width: 450px) {
    .prev-button {
      right: -0.95rem;
    }

    .next-button {
      left: -1.25rem;
    }
  }

  .play-button {
    padding: 2rem 1.2rem;
    z-index: 5;
    position: absolute;
  }

  h3 {
    font-style: 2rem;
    color: var(--ui-primary-accent-color-1-transparent);
  }

  ol li {
    list-style-type: none;
  }
  .cards-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(
      (100% / 3) - (var(--grid-gap) - 6px)
    ); // 3 columns by default
    grid-gap: var(--grid-gap);
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 3;

    @media (max-width: 1280px) {
      grid-auto-columns: calc((100% / 2) - (var(--grid-gap) - 8px));
    }

    @media (max-width: 640px) {
      grid-auto-columns: 100%;
    }
    .card-container {
      scroll-snap-align: start;
    }
  }
}
