@use "./article-card.scss";
@use "./article.scss";
@use "./navbar.scss";
@use "./search-bar.scss";
@use "./footer.scss";
@use "./landing.scss";
@import url("./_fonts.css");
@import url("./_variables.css");
@import url("./_animations.css");

* {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  color: var(--text-color);
  background: linear-gradient(
    90deg,
    var(--background-color-1),
    var(--background-color-2)
  );
  background-attachment: fixed;
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
  box-shadow: inset 0px 0px 300px 50px black;

  &::before {
    content: "";
    position: absolute;
    box-shadow: inherit;
    -webkit-mask: linear-gradient(#000000, transparent);
    mask: linear-gradient(#000000, transparent);
    height: 100%;
    width: 100%;
  }
}

body {
  -ms-overflow-style: none;
  // scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none; //Hides scrollbar for Chrome, Safari and Opera
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0px solid transparent;
}

figure {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

textarea,
input {
  outline: none;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

small {
  font-family: paragraph, sans-serif;
  font-size: var(--font-size-small);
}

p {
  font-family: paragraph, sans-serif;
  color: var(--text-color-p);
  font-size: var(--font-size-paragraph);
}

h1 {
  font-family: title, sans-serif;
  font-size: clamp(2.25rem, 3vw + 1rem, 4.5rem);
}

h2 {
  font-family: subtitle, sans-serif;
  font-size: clamp(1.875rem, 1vw + 1.5rem, 3rem);
}

h3 {
  font-family: subtitle, sans-serif;
}

h4 {
  font-family: subtitle, sans-serif;
  font-size: clamp(1.25rem, 1vw + 1rem, 2.25rem);
}

button {
  cursor: pointer;
  small,
  p {
    color: var(--light-text-color);
  }
}

main {
  margin-top: 5rem;
  width: 100%;
  min-height: 100dvh;
}

.loading-container {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-icon {
    top: -5rem;
    font-size: 15rem;
    color: var(--light-text-color);
    animation: spinClockwise 1s linear infinite;
    filter: drop-shadow(0px 0px 10px rgba(47, 0, 255, 0.678));
  }
}
