.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color-p);
  $sectionWidth: 120;

  > * {
    width: $sectionWidth * 1%;
    // min-height: 1000px;

    .section-spacer {
      width: calc((100 / $sectionWidth) * 100%);
      display: flex;
      flex-direction: column;
    }
  }

  > :nth-child(even) {
    display: flex;
    justify-content: center;
    background: linear-gradient(
      90deg,
      var(--ui-background-color-1),
      var(--ui-background-color-2)
    );
    &::before {
      content: "";
      position: absolute;
      background: inherit;
      top: -299px;
      height: 300px;
      width: 100%;
    }
    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        background: inherit;
        bottom: -299px;
        height: 300px;
        width: 100%;
      }
    }
  }

  > :nth-child(odd) {
    background-color: rgb(57, 60, 73);
    z-index: 2;
    box-shadow: 0px -10px 60px 1px var(--border-color-3),
      0px 5px 50px 1px var(--border-color-2),
      inset 0px 0px 10px 0px var(--dark-transparent-shade-2);
  }

  > :nth-child(1) {
    border-bottom-right-radius: 180% 60%;
    border-bottom-left-radius: 60% 2%;
    align-self: flex-start;
    z-index: 2;
    background: linear-gradient(
        90deg,
        #000000d8,
        #680000cb,
        #cf00009c,
        #4f00cf9c
      ),
      url("/static/images/technology-background.jpg");
    color: var(--light-text-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .section-spacer {
      flex-direction: row;
      height: 100%;
      min-height: 800px;
    }
  }

  > :nth-child(2) {
  }
  > :nth-child(3) {
    border-top-left-radius: 400% 60%;
    border-bottom-left-radius: 400% 60%;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #360000f8, #680000cb, #0000b69c),
      url("/static/images/technology-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right;

    .section-spacer {
      .tech-header {
        margin-top: 7rem;
        display: flex;
        color: var(--light-text-color);
        width: 100%;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        text-shadow: 0px 0px 5px var(--dark-transparent-shade-1);

        .tech-icon-container {
          padding-right: 2rem;
          .tech-icon {
            font-size: clamp(4rem, 3.429rem + 2.857vw, 8rem);
          }
        }

        .tech-description {
          width: 100%;
          text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.253);
          container-type: inline-size;
          border-left: 4px solid var(--light-text-color);
          padding-left: 2rem;
          flex: 1 1 450px;
          max-width: 1000px;

          h3 {
            text-wrap: balance;
          }
        }
      }

      #tech-window {
        margin-bottom: 7rem;
      }
    }
  }
  > :nth-child(4) {
  }

  > :nth-child(5) {
    align-self: flex-start;
    border-top-right-radius: 400% 60%;
    border-bottom-left-radius: 500% 15%;
    background: linear-gradient(90deg, #000000d8, #680000cb, #0000b69c),
      url("/static/images/technology-background.jpg");
    color: var(--light-text-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  }

  > :nth-child(6) {
  }

  > :nth-child(7) {
    z-index: 2;
    align-self: flex-start;
    border-top-right-radius: 200% 20%;
    border-bottom-right-radius: 300% 80%;
    border-bottom-left-radius: 80% 3%;
    background: linear-gradient(90deg, #000000d8, #680000cb, #0000b69c),
      url("/static/images/technology-background.jpg");
    color: var(--light-text-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  }

  footer {
    padding-top: 3rem;
    min-height: 500px;
  }
}

.split-card {
  display: flex;
  padding: 4rem clamp(2rem, -7.529rem + 23.455vw, 30rem);
  // padding: 5rem clamp(1rem, -56rem + 63.333vw, 20rem);
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  container-type: inline-size;
  container-name: section-container;
  width: 100%;
  gap: 5rem;

  .icon {
    filter: drop-shadow(0px 0px 15px var(--dark-transparent-shade-2));
    color: var(--text-color-p-3);
  }

  > * {
    container-type: inline-size;
    flex: 1 1 300px;
    min-width: 300px;
  }

  h1 {
    font-size: clamp(3rem, 2.357rem + 1.339vw, 4.5rem);
    margin-bottom: 0.5rem;

    &.icon {
      margin: 0rem;
      top: 10px;
    }
  }
  h2 {
    font-size: clamp(2.25rem, 1.736rem + 1.071vw, 3.45rem);
    margin-bottom: 0.33rem;
    display: flex;
    gap: 2rem;

    .icon {
      top: 5px;
    }
  }

  h3 {
    font-size: clamp(1.95rem, 1.886rem + 0.134vw, 2.1rem);
    margin-bottom: 0.25rem;
  }

  h4 {
    font-size: clamp(1.33rem, 0.564rem + 1.595vw, 2rem);
    margin-bottom: 0.18rem;
  }

  h5 {
    font-size: clamp(1.15rem, 0.936rem + 0.446vw, 1.65rem);
  }

  li {
    margin-inline-start: 0.5rem;
    p {
      // font-size: 1.25rem;
      font-size: clamp(0.9rem, 0.716rem + 0.384vw, 1.33rem);
    }
  }
}

.text-section h1,
.text-container h2 {
  background: linear-gradient(
    -45deg,
    var(--ui-primary-accent-color-1),
    var(--ui-primary-accent-color-2)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 15px var(--text-shadow-color-1);
}

.blog {
  .blog-button {
    padding: 0.5rem 2rem;
    background: linear-gradient(
      135deg,
      var(--ui-primary-accent-color-1),
      var(--ui-primary-accent-color-2)
    );
    margin-top: 2rem;
    box-shadow: 0 0 10px 0px var(--text-shadow-color-1);
    border-radius: 50px;
  }
}

.split-card#intro {
  padding: 0rem clamp(2rem, -7.529rem + 23.455vw, 30rem);
  gap: 0rem;
}

header {
  min-height: 1000px;
  // display: flex;
  // align-items: center;

  .section-spacer {
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      filter: drop-shadow(0px 0px 5px var(--dark-transparent-shade-1));
      animation: fadeIn 1.2s ease-in;

      .text {
        text-wrap: balance;

        .colorful {
          background: linear-gradient(
            -45deg,
            rgb(0, 9, 134),
            rgb(0, 0, 255),
            rgb(43, 65, 255),
            rgb(79, 111, 255)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .logo-container {
      filter: drop-shadow(0px 0px 10px rgba(0, 47, 255, 0.76));
      max-height: 400px;
      height: 100%;
      width: 100%;
      min-height: 200px;
      margin: 2rem;

      .logo {
        height: 100%;
        width: 100%;
        mask-image: url("/static/icons/dragon-dev.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background: linear-gradient(
          0deg,
          var(--moon-color),
          var(--light-text-color)
        );
        animation: float 2s ease-in-out alternate infinite,
          fadeIn 1.5s forwards ease-in-out;
      }
    }
  }
}

@media (max-width: 796px) {
  header .section-spacer .split-card .text-container {
    > * {
      text-align: center;
    }
  }

  .about .section-spacer #about-header {
    gap: 1rem;
    .description-2 {
      visibility: hidden;
    }
  }
}

// Center text when the container is <= 600px
@container section-container (max-width: 600px) {
  .text-container .text {
    text-align: center;
  }
}

.about {
  .section-spacer {
    #about-header {
      margin-top: 3rem;
      margin-bottom: 8rem;

      .text-section {
        animation: fadeIn 0.5s ease-in;

        .description-1 {
          margin-bottom: 1rem;
        }

        > * {
          text-wrap: balance;
        }

        .description-2 {
          color: var(--text-color-p-2);
        }
      }

      .image-container {
        max-height: 400px;
        height: 100%;
        width: 100%;
        min-height: 200px;
        margin: 2rem;
        filter: drop-shadow(0px 0px 12px var(--text-shadow-color-1));
        img {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: contain;
          animation: breathe 5s ease-in-out alternate infinite;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .about .section-spacer #about-header .image-container img {
    height: 130%;
    width: 130%;
  }
}

@media (min-width: 828px) {
  .split-card.reverse {
    flex-direction: row-reverse;
  }
}

.work {
  .work-header {
    margin-top: 2rem;
    display: flex;
    color: var(--light-text-color);
    width: 100%;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

    .work-icon-container {
      padding-right: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        color: var(--light-text-color);
        font-size: clamp(4rem, 3.429rem + 2.857vw, 8rem);
        text-shadow: 0px 0px 5px var(--dark-transparent-shade-1);
      }
    }

    .text-section {
      width: 100%;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.253);
      container-type: inline-size;
      border-left: 4px solid var(--light-text-color);
      padding-left: 2rem;
      flex: 1 1 450px;
      max-width: 1000px;
      text-shadow: 0px 0px 5px var(--dark-transparent-shade-1);

      .title {
        background: none;
        -webkit-text-fill-color: var(--light-text-color);
        text-shadow: 0px 0px 5px var(--dark-transparent-shade-1);
      }

      h4 {
        text-wrap: balance;
      }
    }
  }
}
