.search-bar-container {
  width: 100%;
  display: flex;
  padding: 10rem 0rem;
  justify-content: center;

  .search-bar,
  .search-button {
    box-shadow: 0px 0px 10px 0px var(--shadow-color-1);
    color: var(--text-color-p);
  }

  .search-bar {
    background: linear-gradient(
      270deg,
      var(--ui-background-color-1),
      var(--ui-background-color-2)
    );
    border-radius: 50px 0rem 0rem 50px;
    box-shadow: 0px 0px 10px 0px rgba(38, 43, 82, 0.2),
      inset 0px 0px 0px 1px var(--border-color-1);
    display: flex;
    width: 100%;
    max-width: 20rem;
    transition: all 0.15s;
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 10px 0px rgba(38, 43, 82, 0.2),
        inset 0px 0px 0px 2px rgba(79, 96, 119, 0.8);
    }
  }

  .search-button {
    background: linear-gradient(
      130deg,
      var(--ui-background-color-3),
      var(--ui-background-color-4)
    );
    font-size: 1.5rem;
    display: flex;
    border-radius: 0rem 50px 50px 0rem;
    text-shadow: 0px 0px 5px rgba(8, 20, 129, 0.26);
    padding: 0.5rem 1rem;

    p {
      top: 2px;
      color: var(--text-color-p);
      transform: scale(100%);
      transition: all 0.2s;
    }

    &:hover {
      p {
        transform: scale(125%);
        transition: all 0.2s;
      }
    }

    &:active {
      background: linear-gradient(
        90deg,
        var(--ui-primary-accent-color-1),
        var(--ui-primary-accent-color-2)
      );
      transition: background-color 0.1s;
      p {
        color: rgb(222, 220, 238);
      }
    }
  }
}
