.slide-show {
  height: 600px;
  width: 100%;
  .controls-container {
    position: absolute;
    z-index: 4;
    color: black;
    height: 100%;
    width: 100%;

    > * {
      position: absolute;
    }
    .position-indicator {
      bottom: 1rem;
      right: 1rem;
    }

    .control-buttons {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 2;
    }

    .play-button {
      padding: 1rem;
      z-index: 3;
    }

    h3 {
      font-style: 2rem;
      color: var(--ui-primary-accent-color-1-transparent);
    }
  }

  ol li {
    list-style-type: none;
    margin-inline-start: 0;
  }
  .slides-container {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px var(--ui-static-shadow-color-dim);
    overflow: hidden;

    .slides {
      height: 100%;
      width: 100%;
      .current-slide-container,
      .prev-slide-container {
        position: absolute;
        height: 100%;
        width: 100%;
      }

      .current-slide-container {
        z-index: 3;
        animation: fadeIn 1s;
      }
      .prev-slide-container {
        z-index: 2;
        animation: fadeOut 1s;
      }
    }

    .slide-container {
      height: 100%;
      width: 100%;

      .slide {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.project-slide {
  height: 100%;
  width: 100%;
  padding: clamp(1rem, -1rem + 10.667cqw, 3rem);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    var(--ui-background-color-1),
    var(--ui-background-color-2)
  );
}
