@font-face {
  font-family: paragraph;
  src: url("../../../public/static/fonts/IBMPlexSans-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: subtitle;
  src: url("../../../public/static/fonts/IBMPlexSans-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: title;
  src: url("../../../public/static/fonts/IBMPlexSans-Bold.ttf")
    format("truetype");
}
