.blog-page,
.blog-search-page {
  background: linear-gradient(90deg, #00000045, #68000045, #cf000045, #4f00cf45),
    url("/static/images/backgrounds/balls-background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem clamp(1rem, -15.714rem + 34.821vw, 40rem);

  .blog-header {
    display: flex;
    width: 100%;
    max-width: 70rem;
    flex-direction: column;
    margin: 5rem 0rem;

    > * {
      padding: 2rem 0rem;
    }

    h1 {
      display: flex;
      justify-content: center;
      font-size: clamp(2.25rem, 1.455rem + 2.828vw, 4rem);
      padding: 2rem;

      span {
        margin: 1rem 0rem;
        padding: 0rem 1rem;
        color: var(--light-text-color);
        &.colorful {
          background: linear-gradient(
            -45deg,
            rgb(0, 9, 134),
            rgb(0, 0, 255),
            rgb(43, 65, 255),
            rgb(79, 111, 255)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      :first-child {
        border-right: 6px solid var(--light-text-color);
      }
    }
  }
}

.infinite-scroll-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50dvh;
  margin-bottom: 5rem;

  .no-results-text {
    color: var(--light-text-color);
    // animation: fadeIn 0.1s ease 250ms forwards;
  }

  .article-card-container,
  .loading-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 2rem;
    max-width: 70rem;
    container-type: inline-size;

    .article-card {
      background: linear-gradient(
        -45deg,
        var(--ui-background-color-1),
        var(--ui-background-color-2)
      );
      animation: appear 0.33s;
      border-bottom: 2px solid var(--text-color-p-3);
      overflow: hidden;

      .background-icon {
        position: absolute;
        mask-image: url("/static/icons/dragon-dev.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-image: url("/static/icons/dragon-dev.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        -webkit-mask-position: center;
        background: rgba(105, 109, 117, 0.192);
        height: 300px;
        width: 300px;
        top: 60%;
        left: 40%;
      }

      .card-header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 12.5rem;
        width: 100%;
        background: linear-gradient(
          135deg,
          var(--ui-background-color-3),
          var(--ui-background-color-4)
        );
        overflow: hidden;
        border-radius: 0.5rem 0.5rem 0rem 0rem;

        .text-container {
          width: 50%;
          height: 100%;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          color: var(--ui-background-color-1);

          h6 {
            border-right: 2px solid var(--ui-background-color-1);
            height: 75%;
            display: flex;
            align-items: center;
            padding-right: 1rem;
          }
        }

        .image-container {
          height: 100%;
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 1rem;

          .title-image {
            height: 50%;
            width: 100%;
            position: absolute;
            object-fit: contain;
            padding-right: 2rem;
            filter: drop-shadow(0px 0px 5px var(--ui-static-shadow-color-dim))
              drop-shadow(0px 0px 10px var(--ui-static-shadow-color-dim));
          }
        }
      }

      .content-container {
        width: 100%;
        padding: 0.75rem;
        container-type: inline-size;
        // border-top: 2px solid var(--text-color-p-3);
        z-index: 2;

        > * {
          margin: 0.25rem 0rem;
        }

        .category-container {
          width: 80%;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: 0.5rem;

          .tag {
            background: rgba(96, 99, 119, 0.253);
            border-radius: 0.25rem;
            padding: 0.1rem 0.33rem;
            box-shadow: 0px 0px 10px 0px rgba(38, 43, 82, 0.2);

            small {
              font-size: 0.8rem;
              color: var(--text-color-p);
            }
          }
        }

        .title {
          font-size: clamp(1.4rem, 0.7rem + 4cqw, 1.6rem);
          text-shadow: 0px 0px 10px rgba(37, 39, 58, 0.103);
          color: var(--text-color-title);
        }

        .overview {
          font-size: clamp(0.8rem, -0.6rem + 8cqw, 1.2rem);
        }

        .overview,
        .title {
          text-wrap: balance;
        }

        .overview,
        .date-created {
          color: var(--text-color-p);
        }

        small {
          font-size: 0.8rem;
        }

        .link-button-container {
          margin: 0.5rem 0rem 0rem;
          .link-button {
            z-index: 10;
            background: linear-gradient(
              135deg,
              var(--ui-primary-accent-color-1),
              var(--ui-primary-accent-color-2)
            );
            padding: 0.5rem 1.25rem;
            border-radius: 0.25rem;
            box-shadow: 0px 0px 10px 0px var(--shadow-color-1);
            transform: scale(100%);
            transition: all 0.15s;

            &:hover {
              transform: scale(108%);
              transition: all 0.15s;
            }

            p {
              font-size: clamp(0.8rem, -0.6rem + 8cqw, 1.2rem);
            }
          }
        }
      }
    }
  }
}

.article-card,
.skeleton-card {
  width: 320px;
  min-height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.5rem;
}

.skeleton-card {
  cursor: default;
  container-type: inline-size;
  background: var(--dark-transparent-shade-1);
  overflow: hidden;
  border: 0.25rem solid transparent;

  .image-container {
    min-height: 12.5rem;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    box-shadow: 0px 0px 10px 0px var(--shadow-color-1);
    background: var(--dark-transparent-shade-2);
  }

  .content-container {
    width: 100%;
    padding-top: 0.5rem;

    > * {
      margin: 0.25rem 0rem;
      -webkit-text-fill-color: transparent;
    }

    .category-container {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      container-type: inline-size;

      .tag {
        border-radius: 0.25rem;
        padding: 0.1rem 0.33rem;
        box-shadow: 0px 0px 10px 0px var(--shadow-color-1);
        background: var(--dark-transparent-shade-2);
      }
    }

    .link-button-container {
      margin: 0.5rem 0rem 0rem;
      .link-button {
        padding: 0.5rem 1.25rem;
        border-radius: 0.25rem;
        box-shadow: 0px 0px 10px 0px var(--shadow-color-1);
        background: var(--dark-transparent-shade-2);
        p {
          -webkit-text-fill-color: transparent;
        }
      }
    }

    h4 {
      font-size: clamp(1.4rem, 0.7rem + 4cqw, 1.6rem);
      text-shadow: 0px 0px 10px rgba(37, 39, 58, 0.103);
      box-shadow: 0px 0px 10px 0px var(--shadow-color-1);
      border-radius: 0.25rem;
      background: var(--dark-transparent-shade-2);
    }
    p {
      font-size: clamp(0.8rem, -0.6rem + 8cqw, 1.2rem);
      box-shadow: 0px 0px 10px 0px var(--shadow-color-1);
      border-radius: 0.25rem;
      background: var(--dark-transparent-shade-2);
    }
    small {
      box-shadow: 0px 0px 10px 0px var(--shadow-color-1);
      border-radius: 0.25rem;
      background: var(--dark-transparent-shade-2);
    }

    .overview,
    .title {
      text-wrap: balance;
    }
  }

  &::after {
    content: "";
    left: -210%;
    width: 200%;
    height: 200%;
    border-radius: inherit;
    position: absolute;
    background: linear-gradient(
      75deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.1) 42%,
      rgba(255, 255, 255, 0.5) 55%,
      rgba(255, 255, 255, 0.15) 62%,
      rgba(255, 255, 255, 0) 70%
    );
    animation: slide 1.25s infinite;
  }
}

@keyframes slide {
  0% {
    opacity: 0%;
    transform: translateX(20%);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    transform: translateX(140%);
  }
}

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
