.slide-show {
  height: 600px;
  width: 100%;
  .position-indicator {
    bottom: 1rem;
    right: 1rem;
    position: absolute;
    z-index: 4;
  }

  .position-buttons {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    z-index: 4;

    .position-button {
      color: black;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      background-color: rgba(255 255 255 / 0.5);
      display: inline-block;
      cursor: pointer;
      transition: all 0.2s;
      box-shadow: 0px 0px 5px 0px var(--ui-static-shadow-color-dim);

      &.active {
        background-color: rgba(240, 248, 255, 0.9);
        transition: all 0.2s;
      }
    }
  }

  .prev-button {
    right: -1.75rem;
    position: absolute;
    z-index: 4;
  }

  .next-button {
    left: -1.75rem;
    position: absolute;
    z-index: 4;
  }

  .prev-button,
  .next-button {
    top: calc(50% - 3rem);
  }

  .play-button {
    padding: 1.2rem 1.2rem;
    z-index: 5;
    position: absolute;
  }

  h3 {
    font-style: 2rem;
    color: var(--ui-primary-accent-color-1-transparent);
  }

  ol li {
    list-style-type: none;
    margin-inline-start: 0;
  }
  .slides-container {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px var(--ui-static-shadow-color-dim);
    overflow: hidden;

    .slides {
      height: 100%;
      width: 100%;
      .current-slide-container,
      .prev-slide-container {
        position: absolute;
        height: 100%;
        width: 100%;
      }

      .current-slide-container {
        z-index: 3;
        animation: fadeIn 1s;
      }
      .prev-slide-container {
        z-index: 2;
        animation: fadeOut 1s;
      }
    }

    .slide-container {
      height: 100%;
      width: 100%;

      .slide {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.project-slide {
  height: 100%;
  width: 100%;
  padding: clamp(1rem, -1rem + 10.667cqw, 3rem);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    var(--ui-background-color-1),
    var(--ui-background-color-2)
  );

  > :first-child {
    margin-top: 5rem;
  }

  h3 {
    display: flex;
    gap: 1rem;
    color: var(--text-color-title);
    .icon {
      top: 5px;
    }
  }
}
